$main-background-color: white;

$font-color: #333;
$font-family: 'Noto Sans', Arial, '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
$font-size: 15px;
$font-weight: 400;

$container-width: 1100px;

$margin-between-container: 70px;
$margin-between-menu-item: 20px;
$margin-between-paragraph: 20px;
$margin-between-thumbnail: 20px;
$margin-for-header-ledge: 2px;
$padding-in-container: 10px;
$padding-in-box-link: 1px;

$thumbnail-border-width: 4px;
$thumbnail-border-color: #bebebe;
$thumbnail-width: 260px;
$thumbnail-height: 156px;

$default-transition: 100ms ease-in 20ms;
